<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/wallpapers/wall_pep1.jpg"> -->
  <!-- <app-zdog>loading..</app-zdog> -->
  <app-newsboard></app-newsboard>
  <app-nomediaquery></app-nomediaquery>
  <app-css-experiment></app-css-experiment>
  <app-swiperjs></app-swiperjs>
</div>
<!-- <app-rxjs-study>loading</app-rxjs-study>


  <app-customer-dashboard></app-customer-dashboard>
<app-css-position></app-css-position> -->
<!-- 
<a routerLink="/counter">Counter</a>
<a mat-button routerLink="/fetch-data">Register</a>
<a mat-button routerLink="/register">Register</a>
<a mat-button routerLink="/login">Login</a> -->
<router-outlet></router-outlet>
