<div class="main">
  <div class="outer">
    <h1>Thie is a beatiful Newspaper Headline</h1>
    <article>
      <h2>Get that type going</h2>
      <section>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aperiam unde excepturi harum ipsa amet sunt
          praesentium laboriosam minima, illo non cum sequi? Eaque non sunt, neque quia quibusdam nemo?</P>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque corrupti commodi provident placeat, omnis ex
          illo, sit eveniet cum accusamus hic consectetur dolores similique quas ullam, doloremque consequatur tempora
          unde.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veritatis labore libero blanditiis
          reprehenderit vel fugiat eveniet ducimus autem? Ex consequatur adipisci sed, maiores praesentium voluptatem?
          Quis esse repudiandae dolor.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laborum earum quae fuga eum necessitatibus
          eius ipsum libero, nesciunt rem tenetur, vero reiciendis sapiente. Praesentium, dolorum! Accusantium, ducimus.
          Inventore, quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur harum nostrum et doloribus voluptas
          veniam
          tempora quae, accusamus soluta dolores consequatur dolore quam esse enim tenetur impedit sequi sit totam?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, eaque nam repellendus est corrupti vitae
          porro molestiae incidunt officiis saepe laudantium ducimus sed, nobis illo fugit, natus esse assumenda!
          Officiis?
        </p>
        <img src="../../assets/wallpapers/laptop3.jpg" alt="Computer keyboard">
        <h3>Another headline</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore blanditiis recusandae optio quis sint earum
          ipsa, aspernatur aut tenetur voluptas quas perferendis ut consequuntur in temporibus maxime ullam voluptatibus
          dolores!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem facilis deleniti minus ipsam consectetur
          repudiandae possimus odit blanditiis natus atque animi harum quasi, at enim molestiae voluptates quibusdam
          dolor sint!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos adipisci, eveniet iste non aspernatur autem
          pariatur debitis nemo sed excepturi id omnis esse impedit! Cumque, harum? Dolorum quos autem quod.</p>
      </section>
      <h2 class="secondary"> Let's see some more</h2>
      <section>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis, quidem molestiae. Dolore tempora voluptatem
          quo maiores doloribus debitis molestiae corporis dicta omnis, mollitia maxime blanditiis distinctio enim
          quisquam ullam tenetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolorem quod in atque? Nostrum corporis
          iste iure accusantium. Laudantium ad aspernatur corrupti neque. Iure ipsum, commodi aperiam ullam facere
          distinctio.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ex omnis quod quo, dolore mollitia dolores
          architecto iusto dolor amet vero asperiores fugit fugiat inventore. Reiciendis magnam eaque quis
          corrupti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ex omnis quod quo, dolore mollitia
          dolores architecto iusto dolor amet vero asperiores fugit fugiat inventore. Reiciendis magnam eaque quis
          corrupti</p>
        <h3>All you base is belong us!</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ex omnis quod quo, dolore mollitia dolores
          architecto iusto dolor amet vero asperiores fugit fugiat inventore. Reiciendis magnam eaque quis
          corrupti?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ex omnis quod quo, dolore mollitia
          dolores architecto iusto dolor amet vero asperiores fugit fugiat inventore. Reiciendis magnam eaque quis
          corrupti</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dicta voluptatem excepturi ducimus minima quia
          modi, aliquam accusamus debitis impedit! Beatae expedita quisquam repellendus fuga voluptatem eaque omnis
          necessitatibus velit.</p>
        <p class="span-all">This is some cool important text?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatum illo incidunt alias fugiat, iste
          voluptatibus quo doloribus sapiente odio obcaecati ullam voluptate consequuntur maiores soluta, omnis,
          assumenda harum minima!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum maiores nulla et quasi iusto, suscipit
          voluptatibus deleniti at id officia aperiam reprehenderit praesentium eos. Ratione rerum obcaecati omnis
          cupiditate!</p>
      </section>
    </article>
  </div>
</div>
