<div class="linear">
  <h1>My Awsome shots</h1>
  <main>

    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/Sun.jpg">
    </div>

    <!-- <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal1.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal2.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal3.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal4.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal5.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal6.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal7.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wal8.jpg">
    </div> -->
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/wall_pep1.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/HERO-X-PULSE-301.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/farm_house2.jpg">
    </div>
    <div class="card">
      <div class="info">
        <strong>My Title</strong>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil inventore asperiores excepturi laboriosam
          sint eos fugiat, laudantium quia minus necessitatibus. Reiciendis aspernatur veniam minima. Velit perferendis
          recusandae quaerat nam ad?</p>
      </div>
      <img src="../../assets/wallpapers/farm_house3.jpg">
    </div>
  </main>
</div>
